h3 {
    font-size: 3em;
}


#sidebar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    height: 100vh; /* Full height on large screens */
    background-image: url('../../images/bgasdf.jpg'); /* Path to your background image */
    background-size: cover; /* Cover the entire sidebar */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-position: center center; /* Center the image */
    color: white; /* Make the text white */
}

#sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
    z-index: 1; /* Ensure the overlay is above the background image */
}

#sidebar .sidebar-header,
#sidebar ul {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
    list-style-type: none; /* Remove bullets from the list */
    padding-left: 0;
}

#sidebar a {
    color: lightgray; /* Make the sidebar links light gray */
    text-decoration: none; /* Remove underlining from links */
    display: block; /* Make the links block elements */
    width: 100%; /* Ensure the links take up the full width */
}

#sidebar ul li a {
    font-size: 1.8em; /* Larger text for subitems */
}

#sidebar ul li.active a {
    font-weight: bold;
    color: white;
    /*background-color: rgba(0, 0, 0, 0.25);  Light background for active item */
}

.chevron-left, .chevron-right {
    color: black; /* Color of the chevrons */
    text-decoration: none; /* Remove underline */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap; /* Prevent wrapping */
}

.header-container span {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

@media (max-width: 991.98px) {
    #sidebar {
        height: auto; /* Auto height on small screens */
        max-height: 50vh; /* Maximum height */
        overflow-y: auto; /* Enable scrolling */
    }
}