h3 {
    font-size: 3em;
}


#sidebar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    height: 100vh; /* Full height on large screens */
    background-image: url('../../images/bgasdf.jpg'); /* Path to your background image */
    background-size: cover; /* Cover the entire sidebar */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-position: center center; /* Center the image */
    color: white; /* Make the text white */
}

#sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
    z-index: 1; /* Ensure the overlay is above the background image */
}

#sidebar .sidebar-header,
#sidebar ul {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
    list-style-type: none; /* Remove bullets from the list */
    padding-left: 0;
}

#sidebar a {
    color: lightgray; /* Make the sidebar links light gray */
    text-decoration: none; /* Remove underlining from links */
    display: block; /* Make the links block elements */
    width: 100%; /* Ensure the links take up the full width */
}

#sidebar ul li a {
    font-size: 1.8em; /* Larger text for subitems */
}

#sidebar ul li.active a {
    font-weight: bold;
    color: white;
    cursor:text;
}

#sidebar ul li a:hover {
    font-weight: bold;
    color: white;
}

.chevron-left, .chevron-right {
    color: black; /* Color of the chevrons */
    text-decoration: none; /* Remove underline */
    font-size: 0.66em;
}

.chevron-left:hover, .chevron-right:hover {
    color:  #007bff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap; /* Prevent wrapping */
}

.header-container span {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-container .carousel-item{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.carousel-container .carousel-item img {
    cursor: pointer; /* Change cursor to pointer on hover */
}

.carousel-caption {
    top: 80%; /* Adjust this value to move the captions down */
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    filter:drop-shadow(0px 0px 2px black);
}

ul.custom-bullets {
    list-style-type: none;
    padding-left: 1.5em; /* Add padding to align text properly */
}

ul.custom-bullets li {
    position: relative;
}

ul.custom-bullets li::before {
    content: "•";
    position: absolute;
    left: -1em;
    top:-0.36em; /* Adjust this value to position the bullet */
    font-weight: bold;
    font-size:1.5em;
}

li.red::before {
    color: rgb(255, 39, 39);
}
li.blue::before {
    color: rgb(0, 169, 199);
}
li.green::before {
    color: rgb(0, 185, 0);
}
li.yellow::before {
    color: rgb(207, 187, 0);
}

@media (max-width: 991.98px) {
    #sidebar {
        position: relative;
        height: auto; /* Auto height on small screens */
        max-height: 50vh; /* Maximum height */
        overflow-y: auto; /* Enable scrolling */
    }
}